.main-board{
    background-color: #3196BC;
    text-align: center;

}

.participant{
    text-align: left;
    margin-left: 3%;
}

.section-container{
    display: flex;
    flex-direction: row;
    width: 90%;
    justify-content: space-between;
}