.card{
    border: 1px;
    margin: 5%;
    background:#DBDBDB;
    border-radius: 15px;
    flex-wrap: wrap;
    word-wrap: break-word;
    padding-top: 10%;
}

#likebtn{
    width: 10%;
    background-color: rgba(50,50,50,0);
    border: none;
    margin-left: 3%;
    color: black;
}

.btn-container{
    display: flex;
}
#likebtn:hover{
    background-color: rgba(50,50,50,0.3);
    border: none;
    border-radius: 100px;
}
#deletebtn{
    margin-bottom: 0px;
    width: 12%;
    background-color: rgba(50,50,50,0);
    border: none;
}

#deletebtn:hover{
    background-color: rgba(50,50,50,0.3);
    border: none;
    border-radius: 100px;
}

#card-argument{
    word-wrap: break-word;
    margin: 3%;
    font-size: 24px;

}