#form-table {
  background:#B9D3DC;
  text-align: center;
  font-family: "Trebuchet MS", Arial, Helvetica, sans-serif; 
  border: 0px ;
  width: 80%;
  word-wrap: break-word;
  display: inline-block;
  padding: 2%;
  border-radius: 30px;
  margin-right:10%;
  margin-left:10%;
}

th {
  font-size: 20px;
  width: 5%;
}

td{
  text-align: center;
  flex-wrap: wrap;
  word-wrap: break-word;
}

tr{
justify-content: center;
align-content: center;
text-align: center;
}

thead{
border: 1% solid black;
}