
body{
	background-color: #3196BC ;
}
.login-form{
	width: 80%;
	background:#B9D3DC;
	display: inline-block;
	padding: 2%;
	border-radius: 30px;
	flex-direction: column;
	margin-right:10%;
	margin-left:10%;
}

.login-body{
	text-align: center;
}

input{
	width: 80%;
	padding: 1% 2%;
	box-sizing: border-box;
	border-radius: 10px;
	border: 1px;
}

#login-title{
	text-align: center;
}

.content{
	display: flex;
	margin-left: 10%;
}

textarea{
	width: 80%;
	padding: 1% 2%;
	margin: 0.5%;
	box-sizing: border-box;
	border-radius: 10px;
	border: 0px ;
	margin-right:auto;
	margin-left:auto;
	resize: none;
}

button{
	width: 50%;
	padding: 10px 0;
	margin: 10px auto;
	border-radius: 5px; 
	outline: none;
	background: #8ebf42; 
	font-size: 18px;
	font-weight: 600;
	color: #fff;
	margin-right:auto; margin-left:auto;
	border: 0px;
}

button:hover{
	background: #6d9b29; ;
}

.error{
	background-color: rgb(245, 67, 67);	
	width: 80%;
	margin: 0.5%;
	box-sizing: border-box;
	border-radius: 10px;
	border: 0px ;
	margin-right:auto;
	margin-left:auto;
}

