.sectionName{
        width: 30%;
        background:#B9D3DC;
        display: flex-end;
        padding: 5px;
        margin-right: -30vw;
        margin-left: 6%;
        border-radius: 30px;
        flex-direction: column;
        border: 1px;
}

#argument{
        width: 80%;
        padding: 12px 20px;
        margin: 7px 0px;
        box-sizing: border-box;
        border-radius: 10px;
        border: 0px solid black;
        margin-right:auto; 
        margin-left:auto;
        resize: none;
}

.sectionName:last-child{
        margin-right: -4vw;
}

.addBtn{
        background-color: rgba(0,0,0,0);
        border: none;
        display: flex;
        margin-left: 57%;
        justify-content: center;
}

.addBtn:hover{
        color: #A0C9B5;
        background: none;
}    

.args{
        margin-left: 1%;
}



